@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: "Inconsolata", monospace !important;

  h1 {
    font-family: "Merriweather";
    font-size: 2rem;
  }
}
